* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px auto;
  padding: 30px;
  width: 900px;
  height: 500px;
  border: 1px solid black;

  /* flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */
  /* flex-flow: ; */
  /* justify-content: flex-start; works on main-axis
    justify-content: flex-end; */
  justify-content: center;
  /* justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; */

  /* align-items: flex-start; works on cross-axis */
  align-items: center;

  align-content: space-between;
  flex-wrap: nowrap;
  gap: 50px;  
}

.item {
  margin: 20px;
  width: 300px;
  height: 100px;
  background-color: cadetblue;
  border: 1px solid brown;
  text-align: center;
  flex-grow: 1;
  
  
  
}
.item4{

    order: -1;
    flex-grow: 3;
    align-self: baseline;
   
}